.container{
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    gap: 15px;
}

.container h1{
    font-size: 36px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.comment {
    width: 400px;
    height: 150px;
    padding: 5px 7px;
    font-size: 14px;
    border-radius: 6px;
    box-sizing: border-box;
    resize: none;
}

.star{
    color: gold;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviewContent{
    margin: 25px 10px;
    width: fit-content;
    padding: 2px 5px;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.2s;
}

.reviewContent:hover{
    transform: scale(1.05);
    background-color: rgba(224, 224, 224, 0.5);
}

.closeButton{
    position: absolute;
    right: 3%;
    top: 3%;
    margin: 3%;
    cursor: pointer;
}